In [15]:
import pandas as pd

In [16]:
ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']
df = pd.DataFrame(list(zip(ids, countries)), columns=['Ids', 'Countries'])

In [17]:
ohe = pd.get_dummies(df.Countries, prefix='Country')

In [18]:
df

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [19]:
ohe

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

In [20]:
ohe_df = pd.concat([df, ohe], axis=1)

In [21]:
ohe_df

   Ids Countries  Country_France  Country_Germany  Country_Spain
0   11     Spain               0                0              1
1   22    France               1                0              0
2   33     Spain               0                0              1
3   44   Germany               0                1              0
4   55    France               1                0              0

In [22]:
ohe_df = ohe_df.drop('Countries', axis=1)

In [23]:
ohe_df

   Ids  Country_France  Country_Germany  Country_Spain
0   11               0                0              1
1   22               1                0              0
2   33               0                0              1
3   44               0                1              0
4   55               1                0              0